*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}
body{
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

header{
    width: 100%;
    height: 20vh;
    display: flex;
    text-align: center;
    background-color: beige;
}

header div.logo{ 
    width: 30%;
    display: flex;
    align-items: center;
}

header div.logo img{ 
    width: 100px;
    height: 80px;
    border-radius: 30px;
}

header div.titulo{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 30px;
}

header div.titulo h3{
    font-size: 15px; 
}

main{
    display: flex;
    width: 100%;
    background-color: #1a1a1a;
}

aside{
    width: 30%;
    padding-top: 10px;
}

aside nav ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

aside nav ul li a{
    font-family: poppis;
    font-size: 15px;
    text-decoration: none;
    color: bisque;
    margin: 5px;
}

aside nav ul li a:hover{
    zoom: 200%;
    color: lightgray;
    font-family: Oswald;
}

section{
    width: 70%;
    display: flex;
    flex-wrap: wrap;

}

section article{
    width: min-content;
    padding: 10px;
    text-align: center;
    border: 5px black solid;
    margin: 10px;
    color: bisque;
}

section article p{
    font-size: 15px;
    margin-top: 10px;

}

section article div.img{
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section article div.img img{
max-width: 100%;
}

footer{
    background-color: #363333;
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (min-width:1240px){
    body{
        padding: 0 20px 0 20px;
    }
    aside{
        width: 40%;
    }
    section{
        width:60%;
    }
}
@media (max-width:770px){

    aside{
        width: 50%;
    }
    section{
        width:50%;
    }
    article{
        width:100%
    }
}
@media (max-width:600px){
    body{
        font-size: 10px;
    }
    header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-bottom: 8px;
    }
    aside{
        display: none;
    }
    header div.logo { 
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header div.logo img{ 
        width: 50px;
        height: 40px;
        border-radius: 30px;
    }
    h1{
        font-size: 20px}
    aside{
        width: 100%;
    }
    section{
        width:100%;
        padding: 0;
    }
    article{
        width:100%
    }
}